!.env.example
.DS_Store
.env*
.php_cs.cache
.phpunit.result.cache
/.idea
/.vagrant
/node_modules
/public/css
/public/fonts
/public/hot
/public/img
/public/images
/public/js
/public/mix-manifest.json
/public/storage
/public/svgs
/reports
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
yarn-error.log
composer.lock
